---
const baseURL = import.meta.env.BASE_URL;
---
<nav>
  <p>
    <a href={baseURL}>home</a>
    <a href={`${baseURL}writings`}>writings</a>
    <a href={`${baseURL}projects`}>projects</a>
    <a href={`${baseURL}now`}>now</a>
    <a href={`${baseURL}uses`}>uses</a>
  </p>
</nav>
<style>
  nav > p > a {
    text-align: left;
    margin-left: 20px;
  }

  nav {
    margin-bottom: 4rem;
    text-align: right;
  }
</style>
